html, body {
  font-family: 'Manrope', sans-serif;
  color: #1E1B1B;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  background: #FF6433;
  border: 1px solid #FF6433;
  border-radius: 12px;
  padding: 16px 40px;
  color: #fff;
  transition: 0.3s;
  white-space: nowrap;
}

.button:hover {
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 59px;
  background-color: #fff;
  transition: .3s;
  padding: 15px;
}

.btn:hover {
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid #e1e1e16e;
  box-shadow: 0px 28px 118px #6d6c731f;
}

.burger {
  display: none;
}

/* ---------------------------------------------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;
  padding: 10px 0;
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
}

.header__logo {
  overflow: hidden;
}

.header__inner {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-link {
  font-weight: 600;
  line-height: 28px;
  transition: .3s;
  white-space: nowrap;
}

.header__nav-link:hover {
  color: #5CBA99;
  transform: scale(1.05);
  border-bottom: 1px solid #5CBA99;
}


.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0px;
}


.header__line {
  margin: 0 20px 0 32px;
  height: 42px;
  border-right: 1px solid rgba(147, 145, 145, .36);
}

.header__cell-box {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header__cell-img {
  justify-items: center;
  border-radius: 50%;
  transition: all .3s;
  border: 12px solid #fff;
}

.header__cell-box:hover .header__cell-img {
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
}

.header__cell-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  display: block;
}

.header__cell-phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  display: block;
}

/* ---------------------------------------- */

.main__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 156px 0 135px 0;
}

.main__content {
  max-width: 624px;
  margin-right: 10px;
}

.main__about-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  margin-right: 20px;
  margin-bottom: 32px;
}

.main__box-btn {
  margin-bottom: 48px;
}

.main__btn {
  margin-right: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}

.main__btn-play {
  position: relative;
  padding-left: 33px;
}


.main__btn-play::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../img/icons/Play.svg") no-repeat;
  width: 24px;
  height: 24px;
}



.main__box-info {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.main__info-watch {
  margin-right: 13px;
}

.main__info-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.main__info-subtitle {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}

.main__img-box {
  position: relative;
  width: 100%;
}

.main__img {
  width: 100%;
  height: auto;
}


.main__time-btn {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  line-height: 36px;
  white-space: nowrap;
}

.main__time-watch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5CBA99;
  color: #FFF;
  border-radius: 50%;
  margin-right: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding: 20px;
}




.main__time-subtitle {
  font-size: 16px;
  line-height: 28px;
}

.main__rating-btn {
  position: absolute;
  top: 80%;
  left: 82%;
  transform: translate(-50%, -50%);
  padding: 24px 34px;
}

.main__rating {
  margin-right: 15px;
}

.main__rating-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.main__rating-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

/* ---------------------------------------- */

.main__categories {
  background: #F2F2F2;
}

.main__name {
  text-align: center;
}

.main__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding: 128px 0 8px 0;
}

.main__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  padding-bottom: 64px;
}

.main__grid {
  display: grid;
  grid-template: 232px 232px / 1fr 1fr 1fr 1fr;
  gap: 8px;
  justify-content: center;
}

.main__grid-block {
  background-color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .3s;
}

.main__grid-block:hover {
  background-color: #FF6433;
  color: #FFF;
}

.main__grid-block:hover svg path {
  fill: #fff;
}

.main__grid-block span {
  padding-top: 16px;
}

.main__arow {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 32px 0 128px 0;
}

.main__arow span {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  margin-right: 16px;
}

/* -------------------------------------------------------- */

.main__process-info {
  display: flex;
  padding: 134px 0 134px 0;

}

.main__process-left {
  max-width: 524px;
  margin-right: 131px;
}

.main__process-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.main__process-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 48px;
}

.main__process-right {
  max-width: 432px;
}

.main__process-block {
  margin-top: 16px;
}


.main__process-row {
  display: flex;
  align-items: center;
}

.main__process-img {
  padding-right: 24px;
}

.main__process-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__process-head {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.main__process-line {
  border-left: 2px dashed #FF6433;
  height: 71px;
  margin: 0 60px 0 36px;
}

.main__process-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

/* -------------------------------------- */


.main__service {
  margin-bottom: 48px;
}


.main__service-background {
  background: url("../img/service1.jpg") left 0 / 50% 502px no-repeat, url("../img/service2.jpg") right 0 / 50% 502px no-repeat;
}

.main__service-block {
  background-color: #FF6433;
  height: 502px;
  max-width: 729px;
}

.main__service-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  color: #FFF;
  padding: 163px 60px 64px 60px;
}

.main__service-button {
  background: #333;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 16px 40px;
  color: #fff;
  transition: 0.3s;
  margin-left: 61px;
}

.main__service-btn:hover {
  border: 1px solid #fff;
  color: #333;
  background-color: #fff;
}

/* ---------------------------------- */


.main__experience {
  margin-bottom: 48px;
}


.main__experience-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__experience-number {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.main__experience-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}

/* ---------------------- */


.main__brands {
  background: #E2E6E9;
}

.main__brands-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  text-align: center;
  padding: 128px 0 31px 0;
}

.main__brands-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
  gap: 38px;
  padding-bottom: 59px;
}

/* --------------------------------------- */

.main__blog {
  margin: 131px 0 136px 0;
}

.main__blog-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}

.main__blog-categories {
  display: flex;
  margin-bottom: 46px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}

.main__blog-link {
  margin-right: 30px;
  transition: all .3s;
}

.main__blog-link:hover {
  color: #5CBA99;
}

.main__blog-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 64px 32px;
}

.main__blog-item {
  padding: 10px;
  transition: all .3s;
}

.main__blog-item:hover {
  background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
  transform: scale(1.01);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.4);
}


.main__blog-img {
  margin-bottom: 24px;
  transition: 1s;
}

.main__blog-img:hover {
  transform: scale(1.2);
}

.main__blog-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.main__blog-subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.main__blog-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}

/* ------------------------------------------- */

.main__coments {
  background-color: #F2F2F2;
  padding-bottom: 159px;
}

.main__coments-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  text-align: center;
  letter-spacing: -0.03em;
  text-align: center;
  padding: 128px 185px 76px 185px;
}

.main__coments-slide {
  background-color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding: 72px;
  margin: 0 48px;
}

.slick-prev, .slick-next {
  line-height: 2;
  opacity: 1;
  border-radius: 50%;
  text-align: center;
  right: 190px;
  top: 500px;
}

.slick-next {
  right: 90px;
  top: 500px;
}

.slick-prev::before, .slick-next::before {
  content: "\27F5";
  color: #1E1B1B;
  background-color: #fff;
  font-family: initial;
  padding: 10px;
  font-size: 38px;
  opacity: 1;
  border-radius: 50%;
  transition: all .3s;
}

.slick-prev:hover::before, .slick-next:hover::before {
  background-color: #1E1B1B;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFF;
}

.slick-next::before {
  content: "\27F6";
}

.slick-dots li button {
  border: 2px solid #939191;
  padding: 0;
  height: 0;
  background-color: #939191;
}


.main__coments-slide:last-child {
  margin-right: 0px;
}

.main__coments-avatar {
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.main__coments-img {
  margin-right: 16px;
}

.main__coments-sity {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

/* ------------------ */


.main__faq {
  background: #E2E6E9;
  padding-bottom: 128px;
}

.main__faq-title {
  text-align: center;
  padding: 128px 0 86px 0;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
}

.main__faq-questions {
  background-color: #fff;
  margin: 0 190px 12px 190px;
}

.main__faq-question {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.main__faq-closed {
  padding: 29px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  list-style: none;
}

.main__faq-open {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
  padding: 40px;
  padding-top: 0;
}

.main__faq-questions[open] .main__faq-open {
  animation: slide .5s;
}

.main__faq-closed::after {
  content: "\002B";
  background-color: #FF6433;
  color: #fff;
  display: block;
  font-size: 36px;
  padding: 6px 14px;
}

.main__faq-questions[open] .main__faq-closed::after {
  content: "\2212";
}

/* ------------------------------ */

.main__input {
  padding-bottom: 522px;
}

.main__input-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  max-width: 520px;
  padding: 114px 0 48px 0;
}

.main__input-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.main__input-form {
  background-color: #F2F2F2;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  border-radius: 2px;
  display: block;
  padding: 23px 40px;
  margin-bottom: 4px;
  resize: none;
  width: 687px;
}

.main__input-btn {
  display: inline-block;
  margin-top: 48px;
}

.main__input-contact {
  margin-bottom: 32px;
}

.main__input-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.main__input-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

/* -------------------------------------- */


.main__location {
  background-image: url("../img/bg-map.jpg");
  background-size: cover;
  height: 448px;
}

.main__location-maps {
  position: relative;
}

.main__location-map {
  position: absolute;
  height: 512px;
  width: 100%;
  top: -280px;
  border: 2px solid #333;
}

/* ------------------------------- */

.footer__top {
  background: #1E1B1B;
  opacity: 0.98;
  color: #FFF;
}

.footer__about {
  display: flex;
  justify-content: space-between;
  padding: 128px 0;
}

.footer__social {
  margin-right: 25px;
}

.footer__social-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  padding-bottom: 64px;
  max-width: 463px;
}

.footer__social-icon {
  margin-right: 24px;
}

.footer__social-icon:last-child {
  margin-right: 0;
}

.footer__contacts-contact {
  margin-bottom: 32px;
}

.footer__contacts-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.footer__contacts-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

/* ----------------------------- */

.footer__bottom {
  background-color: #1E1B1B;
  padding: 65px 0;
  color: #FFF;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-right: 0px;
}

.footer__nav {
  margin-right: 0px;
}

.footer__nav-list {
  display: flex;
  white-space: nowrap;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-link {
  font-weight: 600;
  line-height: 28px;
  transition: .3s;
}

.footer__nav-link:hover {
  color: #5CBA99;
  transform: scale(1.05);
  border-bottom: 1px solid #5CBA99;
}

.footer__row-copyright {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -40px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 1024px) {
  .header__inner {
    justify-content: start;
  }

  .header__inner-nav {
    margin-left: 15px;
  }

  .main__body {
    padding: 156px 15px 135px 0;
  }

  .main__content {
    max-width: 100%;
    margin-right: 0px;
  }
}

@media (max-width: 870px) {
  .button {
    padding: 16px 30vw;
  }

  .header__inner {
    justify-content: space-between;
    height: 50px;
  }

  .header__logo {
    z-index: inherit;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: inherit;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #1E1B1B;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    left: 0;
    transition: all .3s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    background-color: #1E1B1B;
    position: absolute;
    top: 8.4px;
    width: 100%;
    height: 3px;
    transition: all .3s;
  }

  .header__burger.open::before {
    transform: rotate(45deg);
    top: 8.4px;
  }

  .header__burger.open::after {
    transform: rotate(-45deg);
    bottom: 8.4px;
  }

  .header__burger.open span {
    transform: scale(0);
  }


  .header__inner-nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
    text-align: center;
    margin-top: 70px;
    transition: all .3s;
  }

  .header__inner-nav.open {
    top: 0;
    left: -15px;
  }

  .header__nav-list {
    display: block;
  }

  .header__line {
    display: none;
  }

  .header__nav-item {
    margin: 0;
  }

  .header__cell-box {
    justify-content: center;
    margin-top: 15px;
    bottom: 0%;
  }

  .header__nav-link {
    display: block;
    padding: 10px;
  }

  .header__nav-link:hover {
    color: #5CBA99;
    transform: scale(1.05);
    border-bottom: 1px solid #5CBA99;
    border-top: 1px solid #5CBA99;
  }

  .main__body {
    flex-direction: column;
    padding: 80px 0 10px 0;
  }

  .main__content {
    max-width: 100%;
    margin: 0px;
    text-align: center;
  }

  .main__about-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 65px;
    letter-spacing: -0.03em;
    margin: 20px 0 50px 0;
  }

  .main__btn {
    padding: 16px 40px;
  }

  .main__box-info {
    display: flex;
    align-items: center;
    margin-top: 23px;
    flex-direction: row;
    justify-content: center;
  }

  .main__info-row {
    text-align: left;
  }

  .main__time-btn {
    top: 15%;
    left: 25%;
  }

  .main__rating-btn {
    top: 75%;
    left: 75%;
  }

  .main__subtitle {
    padding: 20px 0 8px 0;
  }

  .main__title {
    font-size: 45px;
    line-height: 60px;
    padding-bottom: 20px;
  }

  .main__grid {
    grid-template: 232px 232px 232px 232px / 1fr 1fr;
  }

  .main__arow {
    padding: 32px 0;
  }

  .main__process-info {
    padding: 30px 0;
    flex-direction: column;
  }

  .main__process-left {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
    padding: 0 90px;
  }

  .main__process-title {
    font-size: 45px;
    line-height: 60px;
    padding-bottom: 20px;
  }

  .main__process-right {
    max-width: 100%;
    padding: 50px;
  }

  .main__service {
    margin-bottom: 22px;
  }

  .main__service-block {
    height: 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .main__service-title {
    font-size: 45px;
    line-height: 60px;
    padding: 50px 30px;
  }

  .main__service-button {
    display: inline-block;
    margin-left: 0;
  }

  .main__service-background {
    background: none;
  }

  .main__experience-row {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 10px;
    justify-items: center
  }

  .main__experience-box {
    text-align: center;
  }

  .main__brands-title {
    font-size: 45px;
    line-height: 60px;
    padding: 30px 0;
  }

  .main__brands-grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 8px;
    padding-bottom: 20px;
  }

  .main__brands-element:last-child {
    display: none;
  }

  .main__blog {
    text-align: center;
    margin: 30px 0;
  }

  .main__blog-title {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .main__blog-categories {
    justify-content: center;
  }

  .main__blog-link {
    margin-right: 0;
  }

  .main__blog-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr/ 1fr;
    gap: 64px 32px;
  }

  .main__blog-img {
    width: 100%;
  }

  .main__coments {
    padding-bottom: 61px;
  }

  .main__coments-title {
    font-size: 45px;
    line-height: 60px;
    padding: 30px 0;
  }

  .main__coments-slide {
    padding: 20px 10px;
    margin: 0 10px;
    font-size: 20px;
    line-height: 36px;
  }

  .slick-dots {
    bottom: -40px;
  }

  .slick-prev, .slick-next, .slick-prev::before, .slick-next::before {
    display: none;
  }

  .main__faq {
    padding-bottom: 30px;
  }

  .main__faq-title {
    padding: 30px 20px;
    font-size: 45px;
    line-height: 60px;
  }

  .main__faq-questions {
    margin: 10px 0;
  }

  .main__input {
    padding-bottom: 0px;
  }

  .main__input-title {
    font-size: 45px;
    line-height: 60px;
    max-width: 100%;
    padding: 30px 0;
    text-align: center;
  }

  .main__input-about {
    justify-content: space-between;
    margin-bottom: 64px;
    flex-direction: column;
  }

  .main__input-form {
    padding: 23px 40px;
    width: 100%;
  }

  .main__input-btn {
    display: block;
    margin: 20px 20px 40px 20px;
    text-align: center;
  }

  .main__input-contacts {
    text-align: center;
  }

  .main__location-map {
    width: 100%;
    height: 318px;
    top: 65px;
  }

  .footer__about {
    padding: 28px 0;
    align-items: center
  }

  .footer__bottom {
    padding: 20px 15px;
  }

  .footer__logo {
    display: none;
  }

}

@media (max-width: 725px) {
  .main__brands-grid {
    grid-template: 1fr 1fr / 1fr 1fr;
    text-align: center;
  }

  .main__brands-element:last-child {
    display: block;
  }

  .footer__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    padding: 16px 25vw;
  }
}

@media (max-width: 480px) {
  .main__time-btn {
    top: 22%;
    left: 44%;
  }

  .main__rating-btn {
    top: 75%;
    left: 55%;
  }

  .main__arow {
    justify-content: center
  }

  .main__process-btn {
    display: block;
  }


  .main__process-left {
    padding: 0;
  }

  .main__process-right {
    padding: 10px;
  }

  .main__service-title {
    font-size: 30px;
    line-height: 28px;
    padding: 34px 10px;
  }

  .main__experience-row {
    align-items: start
  }

  .main__experience-number {
    font-size: 50px;
  }

  .main__blog-categories {
    flex-direction: column;
  }

  .main__brands-grid {
    grid-template: 1fr / 1fr;
    justify-items: center
  }

  .main__faq-title {
    padding: 10px;
    font-size: 45px;
    line-height: 60px;
  }

  .main__faq-question {
    font-size: 20px;
    line-height: 25px;
  }

  .main__faq-closed::after {
    content: "\002B";
    background-color: #FF6433;
    color: #fff;
    display: block;
    width: 50px;
    font-size: 34px;
    padding-left: 9px;
  }

  .footer__social {
    margin-right: 0px;
  }

  .footer__social-title {
    font-size: 34px;
    padding-bottom: 30px;
  }

  .footer__social-icons {
    margin-bottom: 15px;
  }

  .footer__about {
    flex-direction: column;
    text-align: center;
  }

  .footer__inner-nav {
    display: none;
  }

  .footer__contacts-contact:last-child {
    margin-bottom: 0px;
  }

  .footer__row {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .main__about-title {
    font-size: 30px;
    line-height: 49px;
    margin: 0px 0 50px 0;
  }

  .main__btn {
    display: block;
    margin: 20px 10px;
  }

  .main__time-btn {
    top: 27%;
    left: 50%;
  }

  .main__rating-btn {
    left: 50%;
  }

  .main__box-info {
    margin: 23px 0;
  }

  .main__info-watch {
    margin-right: 5px;
  }

  .main__title {
    font-size: 30px;
    line-height: 45px;
  }

  .main__subtitle {
    font-size: 20px;
    line-height: 36px;
  }

  .main__grid {
    grid-template: 1fr / 1fr;
  }

  .main__grid-block {
    height: 250px;
  }

  .main__process-title {
    font-size: 35px;
    line-height: 50px;
  }

  .main__process-right {
    padding: 10px 0;
  }

  .main__process-head {
    font-size: 29px;
    line-height: 33px;
  }

  .main__process-img {
    padding-right: 10px;
  }

  .main__process-text {
    font-size: 16px;
    line-height: 170%;
  }

  .main__process-line {
    height: 90px;
    margin: 0 45px 0 35px;
  }

  .main__experience-number {
    font-size: 40px;
  }

  .main__experience-text {
    font-size: 22px;
    line-height: 29px;
  }

  .main__brands-title {
    font-size: 35px;
    line-height: 50px;
    padding: 20px 0 0 0;
  }

  .main__brands-grid {
    gap: 0;
  }

  .main__coments-title {
    font-size: 35px;
    line-height: 50px;
    padding: 30px 0;
  }

  .main__coments-slide {
    padding: 9px 5px;
    margin: 0 5px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }



  .slick-dots {
    bottom: -15px;
  }

  .main__faq-title {
    padding: 10px 0;
    font-size: 34px;
    line-height: 50px;
  }

  .main__faq-question {
    font-size: 17px;
    line-height: 23px;
  }

  .main__faq-closed::after {
    margin: 0 10px;
  }

  .main__faq-closed {
    padding: 20px;
  }

  .main__faq-open {
    font-size: 16px;
    line-height: 160%;
    padding: 20px;
    padding-top: 0;
  }

  .main__input-title {
    font-size: 35px;
    line-height: 50px;
    padding: 15px 0;
  }

  .button {
    padding: 16px 21vw;
  }
}
